.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  background: white;
}

img {
  width: 100%;
  height: 300px;
}

.price {
  font-weight: bold;
  color: green;
}
.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

button {
  margin: 5px;
}
